:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;

  --game-scale: 3;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #333;
  overflow: hidden;
  font-family: 'Ribeye', cursive;
}

.game-shell {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  background: #9ae2ff;
  outline: 1px solid #fff;
  transform: scale(var(--game-scale));
  transform-origin: center center;
}

.game-container canvas {
  display: block;
  image-rendering: pixelated;
  touch-action: none;
  user-select: none;
}